body {
    background-image: radial-gradient(rgb(0, 0, 0),rgb(128, 128, 128));
}
nav.navbar.navbar-default .container {
    border-bottom: none;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
	margin-bottom:20px;
    border-radius: 7px; /* 5px rounded corners */
  }
  .team{
      padding-top:110px;
  }
  .team .col-sm-4 .card{
	  height:430px;
  }
  .team .col-sm-3 .card{
	  height:327px;
  }
  .team .col-sm-2 .card{
	  height:248px;
  }
  /* Add rounded corners to the top left and the top right corner of the image */
  img {
    border-radius: 7px;
  }
h2 {
    color: rgb(255, 255, 255);
    display: block;
    margin-bottom: 40px;
    border-bottom: 2px solid;
    text-align: left;
}
  /* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.7);
  }
  
  /* Add some padding inside the card container */
  .containerCard {
    padding: 2px 16px;
  }

  h1 {
      color: rgb(240, 248, 255);
	  text-align:left;
	  margin-bottom:30px;
	  padding-bottom:20px;
	  border-bottom:2px solid rgb(255, 255, 255);
  }

  h4 {
      letter-spacing: 1px;
      color: rgb(255, 255, 255);
  }

  p {
      color: rgb(127, 255, 212);
  }

  .fa {
      color: rgb(240, 248, 255);
  }
  
  @media (max-width: 991px) {

  .team .col-sm-4 .card{
	   height:auto;
  }
  .team .col-sm-3 .card{
	   height:auto;
  }
  .team .col-sm-2 .card{
	   height:auto;
  }

}

